body {
    font-family:Mulish;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 11;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding : 0em 1em 0em 1em;
    align-items:center;
    height:4em;
}

#cuts {
    display:flex;
    flex-direction:row;
}

#bar-container {
    display:flex;
    flex-direction: row;
}
#foxcuts {
    display:flex;
    flex-direction: row;
}

#stuecke {
    color:darksalmon;
    padding: 0 2em;
}

li {
    list-style-type: katakana-iroha;
}

label {
    padding-right:4em;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

/* Custom track (barre) color */
.slider::-webkit-slider-runnable-track {
    background: black; /* Green track for WebKit browsers */
    height: 1px;
}

.slider::-moz-range-track {
    background: black; /* Green track for Firefox */
    height: 1px;
}

/* Custom thumb (curseur) color */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white; /* Orange thumb */
    cursor: pointer;
}

.slider::-moz-range-thumb {
    background: white; /* Orange thumb for Firefox */
    cursor: pointer;
}

/* Personnalisation de la barre (track) */
.slider::-webkit-slider-runnable-track {
    background: darksalmon;
}

.slider::-moz-range-track {
    background: darksalmon;
}

header h1 {
    text-transform:uppercase;
}

h1, p {
    margin:0;
    padding:0;
}

#author {
    font-size : 2em;
}
  
#card {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 12;
    padding:1em 15em 1em 15em;
    margin:1em;
    font-size: large;
    line-height:2;
    border-radius: 1em;
    display:flex;
    flex-direction: column;
    min-height:55vh
  }

#picture {
    grid-row-start:1;
    grid-row-end: 13;
    grid-column-start: 11;
    grid-column-end: 13;
  }

#imgContainer{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/Kop_van_een_vos%2C_RP-T-FM-22.jpg/256px-Kop_van_een_vos%2C_RP-T-FM-22.jpg?20230228151130);
    background-size:120%;
    background-position: 50% 80%; 
    position: absolute;
    opacity:1;
    top:1em;
    right:1em;
    z-index:1;
}

.controls {
    display:flex;
    flex-direction: row;
    margin-top: 70%;
    justify-content: space-around;
}

button {
    width:2em;
    height:2em;
    max-width: 10em;
    max-height: 10em;
    border: none;
    border-radius: 50em;
    color: white;
    background-color:lightgrey;
    margin: 60% 1em 0em 1em;
    z-index: 1;
}

footer {
    grid-row-start: 12;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 11;
    display:flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: left;
    font-size:x-small;
    padding:2em 0em 0em 2em;
  }